html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input,
button {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white; }

.disperse-border-button {
  position: relative;
  cursor: pointer;
  padding: 12px 43px;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .disperse-border-button span {
    position: relative;
    display: block;
    z-index: 6;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .disperse-border-button::before {
    position: absolute;
    z-index: 5;
    top: 50%;
    -webkit-transform: translateY(-50%) scaleY(0);
    -ms-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
    left: -2px;
    content: '';
    display: block;
    width: calc(100% + 4px);
    height: 55%;
    background-color: #fff;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .disperse-border-button::after {
    z-index: 5;
    position: absolute;
    top: -2px;
    -webkit-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    left: 50%;
    content: '';
    display: block;
    width: 75%;
    height: calc(100% + 4px);
    background-color: #fff;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit; }
  .disperse-border-button:hover::before {
    -webkit-transform: translateY(-50%) scaleY(1);
    -ms-transform: translateY(-50%) scaleY(1);
    transform: translateY(-50%) scaleY(1); }
  .disperse-border-button:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1); }
  .disperse-border-button:hover span {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .disperse-border-button.hover::before {
    -webkit-transform: translateY(-50%) scaleY(1);
    -ms-transform: translateY(-50%) scaleY(1);
    transform: translateY(-50%) scaleY(1); }
  .disperse-border-button.hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1); }
  .disperse-border-button.hover span {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.main-section {
  font-family: sans-serif;
  font-weight: 700;
  width: 1200px;
  padding: 0 15px;
  height: 350px;
  margin: 0 auto;
  padding: 100px 0 0; }
  .main-section__column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px; }
  .main-section__title {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700; }
  .main-section__row {
    margin: 0 15px;
    padding: 20px 15px;
    width: 350px;
    height: 100%; }
  .main-section__desc {
    color: #777777;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px; }
